@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* html {
  background-color: yellow;
}

body {
  background-color: lightseagreen;
}

.app-container {
  background-color: rgb(205, 63, 148);
}

header>div:nth-child(even) {
  background-color: lightcoral;
}

header>div:nth-child(odd) {
  background-color: lightpink;
}

header {
  background-color: lightblue;
}

nav {
  background-color: lightpink;
}

ul {
  background-color: lightblue;
}

li {
  background-color: lightgray;
}

main {
  background-color: lightsalmon;
}

.filters {
  background-color: lightgreen !important;
} */

/* applies to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

/* applies to header */
header {
  max-width: calc(100vw);
  min-width: fit-content;
  height: 56px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 155px) {
  #search-bar {
    visibility: hidden;
  }
}

/* applies to start, center, end */
header>div {
  display: flex;
  align-items: center;
  height: 40px;
}

/* applies to all button except with id attribute */
header button:not([id]) {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

/* applies to all image inside button */
header button>img {
  width: 25px;
  height: 25px;
}

/* applies to start*/
#start {
  flex: 1;
}

/* applies to start */
#app-logo {
  width: 120px;
  height: 30px;
}

/* applies to center */
#center {
  flex: 2;
}

/* applies to search img */
#center>img {
  height: 100%;
  border: 1px solid lightgray;
  padding: 8px;
  padding-right: 0px;
  visibility: hidden;

  /* same as #search-bar:focus */
  border-right: none;
  border-color: #1C62B9;
  box-shadow: 1px 0px 2px #1C62B9;
}

/* applies to search bar */
#search-bar {
  height: 100%;
  padding: 1px 0px;
  padding-left: 8px;
  font-size: 1em;
  border: 1px solid lightgray;
  width: 80%;
}

#search-bar:focus {
  border-left: none;
  outline: none;
  border-color: #1C62B9;
  box-shadow: 1px 0px 2px #1C62B9;
}

#search-btn {
  height: 40px;
  border: 1px solid lightgray;
  width: 60px;
  cursor: pointer;
}

/* applies to end */
#end {
  flex: 1;
  gap: 10px;
  justify-content: flex-end;
}

#end>img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

/* applies to nav */
nav {
  float: left;
  width: 240px;
  min-height: calc(100vh - 61px);
  max-height: calc(100vh - 61px);
  padding-left: 16px;
  overflow-y: scroll;
  margin-top: 5px;
}

nav::-webkit-scrollbar {
  width: 8px;
}

nav::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 10px;
  /* height: 100px; */
}

.scroll-bar-w-0::-webkit-scrollbar {
  width: 0px;
}

/* applies to closebtn */
.closebtn {
  display: none;
}

/* applies to any block that needs to hide (I used this to hide navbar) */
.hideAny {
  display: none;
}

/* applies to nav list */
nav>ul>li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 9px;
  height: 40px;
}

#active {
  font-weight: bold;
  background-color: rgba(217, 217, 217, 0.8);
}

#active:hover {
  background-color: rgb(217, 217, 217);
}

nav>ul>li>a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

nav>ul>li>img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}

hr {
  opacity: 0.3;
  margin: 10px 0;
}

nav>footer>p {
  padding-left: 9px;
  margin-top: 25px;
  margin-bottom: 5px;
}

/* applies to nav when max-width:900px */
@media only screen and (max-width: 900px) {

  /* applies to nav */
  nav {
    max-height: initial;
    padding-left: 0px;
    overflow-y: scroll;
    /* margin-top: 5px; */
  }

  .scroll-bar-w-8::-webkit-scrollbar {
    width: 8px;
  }

  .scroll-bar-w-8::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 10px;
    /* height: 100px; */
  }

  .scroll-bar-w-0::-webkit-scrollbar {
    width: 0px;
  }

  /* applies to closebtn */
  .closebtn {
    display: none;
  }

  /* applies to nav list */
  nav>ul>li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 9px;
    height: 40px;
  }

  #active {
    font-weight: bold;
    background-color: rgba(217, 217, 217, 0.8);
  }

  #active:hover {
    background-color: rgb(217, 217, 217);
  }

  nav>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  nav>ul>li>img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
  }

  hr {
    opacity: 0.3;
    margin: 10px 0;
  }

  nav>footer>p {
    padding-left: 9px;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .overlay {
    height: 100%;
    max-height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(242, 242, 242);
    /* overflow-x: hidden; 
    overflow-y: hidden; */
    transition: 0.2s;
  }

  .overlay-content {
    /* position: relative;
    top: 61px;
    left: 16px; */
    padding-bottom: 20px;
    margin-top: 29px;
    margin-left: 16px;
    width: 93.33%;
    height: calc(100% - 70px);
    /* min-height: calc(100vh - 61px); 
    max-height: calc(100vh - 61px); */
    /* text-align: center; */
  }

  .overlay-content a {
    /*         
    text-decoration: none;
    font-size: 40px;
    color: white; */
    display: block;
    transition: 0.3s;
  }

  /* .overlay a:hover,
  .overlay a:focus {
    color: black;
  } */

  .overlay .closebtn {
    /* position: absolute;
    top: 14px;
    left: 25px; */
    margin-top: 14px;
    /* show 7px extra */
    margin-left: 25px;
    /* shows 3px extra so set 24 if 27? */
    /* font-size: 70px; */
  }
}